body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */
.navBar img{
    height: 150px;
    width: 150px;
    position: relative;
    right: 250px;
    bottom: 10px;
  }
.navBar {
    display: flex;
    justify-content: space-evenly;
    
   }
   .icons{
     display: flex;
   }
   .navBar a {
     margin: 0 15px;
     text-decoration: none;
     color: #333;
     font-size: 1rem;
     font-weight: bold;
     text-transform: uppercase;
     margin-top: 65px;
     position: relative;
     left: 100px;
 
   }
   hr{
    position: relative;
    bottom: 35px;
   }
   header navBar a:hover {
     color: #7c4b7f;
   }
   .icons button{
     font-size: 1.2rem;
     color: #7c4b7f;
     background: none;
     border: none;
     position: relative;
     left: 100px;
     
   }

.categoryHeader {
    text-align: center;
    margin: 20px 0;
}

.categoryHeader h1 {
    color: #7c4b7f;;
    font-size: 24px;
    margin-bottom: 10px;
}
/* Hero Section */
.hero {
  position: relative;
  bottom: 45px;
  text-align: center;
  background-color: #5b2245;
  color: #fff;
  padding: 3rem 1rem;
}

.hero .breadcrumb {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero .breadcrumb a {
  color: #f0e1d2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.category-button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #e8b03d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* .category-button:hover {
    background-color: #2980b9;
} */

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

.recipe-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card .view-details {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #e8b03d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* .recipe-card .view-details:hover {
    background-color: #2980b9;
} */
 /* Footer */
 .footer{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    color: white;
    background-color: #6a2c50;
  }
  .footer h3{
    font-weight: bold;
    font-size: 30px;
  }
  .follow{
    display: flex;
    height: 100px;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .follow i{
    color: #fff;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px; 
  }
  .signUp{
    margin-top: 20px;
  }
  .signUp h2{
    text-align: center;
  }
  .signUp button{
    height: 45px;
    width: 45px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #e8b03d;
  }
  .signUp input{
    flex: 1;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px ;
    font-size: 1rem;
  }
  footer p{
    text-align: center;
  }